doctype html
html
  include /partials/head.pug
  body.post.light-bg
    include /partials/header-dark.pug
    .grid-container.grid-container--readable
      if post.covers.length
        .post-cover.grid-section-full
          img(src=post.covers[0] alt=`${post.title} cover`)
      article.post-content.grid-section
        header.post-top
          h1.post-title= post.title
          ul.post-meta
            li.post-meta__item= post.dateString
            li.post-meta__item by Jason Howmans
        .post-body !{post.body}

    include ./sections/post-footer.pug

    include /partials/footer.pug
    include /partials/scripts.pug