doctype html
html
  include /partials/head.pug
  body.post
    include /partials/header-post.pug
    .grid-container.grid-container--readable
      if post.covers.length
        .post-cover.grid-section--full
          img(src=post.covers[0] alt=`${post.title} cover`)
      article.post-content.grid-section
        header.post-top
          h1.post-title= post.title
          ul.post-meta
            li.post-meta__item= post.dateString
            li.post-meta__item by Jason Howmans
            li.post-meta__item London
        .post-body !{post.body}

    include /partials/scripts.pug