head

  //- For Google
  meta(name="google-site-verification" content="PF-4AUGrHItlJCD2L3SDJKv7sKEZsdX7ixLHeorRimE")
  //- Twitter crap
  meta(name="twitter:card"        content="summary_large_image")
  meta(name="twitter:creator"     content="@__nosaj")
  //- OG tags
  //- meta(property="og:url"          content=head.ogUrl || "https://nosaj.io/")
  //- meta(property="og:type"         content="website")
  //- meta(property="og:title"        content=head.title || "Jason makes the internet")
  //- meta(property="og:description"  content=head.ogDescription || "I design & make measurable products with modern web technologies.")
  //- meta(property="og:image"        content=head.ogImage || "http://a.nosaj.io/og-nosaj.png")
  //- All other meta tags
  meta(name="viewport"            content="width=device-width, initial-scale=1")

  //- Configure Typekit
  style.
    @import url("https://use.typekit.net/nha0neq.css");

  //- if head.stylesheet
    //- style !{head.stylesheet}

  //- if head.scripts
    //- script !{head.scripts}